@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/fonts/FontAwesome/fa-regular-400.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/fonts/FontAwesome/fa-brands-400.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/fonts/FontAwesome/fa-solid-900.ttf);
}

html {
    font-size: 62.5%;
    font-family: Raleway;
}

/* Colour Scheme */
:root {
    --g1: #2d2d2d;
    --g2: #40403f;
    --g3: #545353;
    --g4: #686867;
    --g5: #7e7d7b;
    --g6: #949391;
    --g7: #aba9a7;
    --g8: #c2c0bd;
    --g9: #dad8d4;
    --g10: #f2f0ec;
    --c1: #D24355;
    --c2: #D3604D;
    --c3: #D27943;
    --c4: #81BE6B;
    --c5: #43D279;
    --c6: #51B7A7;
    --c7: #439DD2;
    --c8: #6974D2;
    --c9: #7943D2;
    --c10: #B34193;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: var(--g1);
    background: var(--g10);
    padding-top: 1.6rem;
}

main {
    margin: 3rem auto 15vh auto;
    position: relative;
    z-index: 1;
}

header {
    width: calc(100% - 4ch);
    padding: 1.2rem 0;
    background: var(--g10);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

header a {
    z-index: 2;
    position: relative;
}

header div {
    width: 100%;
}

nav a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--g1);
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
}

nav a:link {color: var(--g1);}
nav a:visited {color: var(--g1);}

.socials {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.socials a {
    color: var(--g1);
    text-decoration: none;
    text-transform: uppercase;
    font-family: FontAwesome;
}

.socials a:link {color: var(--g1);}
.socials a:visited {color: var(--g1);}

a:link {color: var(--c7);}
a:visited {color: var(--c8);}

footer {
    margin-top: 3rem;
    padding: 1.2rem 0;
    border-top: 0.2rem solid var(--g6);
    font-size: 1.2rem;
    color: var(--g2);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

article .header {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--g5);
}

.logo a {
    font-weight: bold;
    color: var(--fg);
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title div {
    font-size: 5rem;
    margin: auto;
}

.hero-title div {
    text-align: center;
}

.logos {
    margin: auto;
    margin-top: 3.5rem;
    text-align: center;
}

.logos img.massoc-logo {
    width: 8ch;
    display: inline-block;
}

.logos img.uniclubs-logo {
    width: 30ch;
    display: inline-block;
}

@media (max-width: 799px) {
    main {
	width: 90%;
	margin-top: 0;
    }

    header {
	position: relative;
    }
    
    nav {
	margin: 0 auto;
	text-align: center;
    }

    footer {
	text-align: center;
    }

    .logo {
	text-align: center;
	margin: 1rem auto 3rem;
    }

    .logo a {
	font-size: 2.4rem;
    }

    nav a {
	margin: 0 0.6rem;
    }

    .hero {
	display: none;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    main {
	width: 60ch;
	margin-top: 3rem;
    }

    header {
	position: relative;
    }
    
    nav {
	margin: 0;
	text-align: right;
    }

    nav a {
	margin: 0 0 0 1.2rem;	
    }

    footer {
	text-align: right;
    }

    .logo {
	margin: 0;
	text-align: left;
    }

    .logo a {
	float: left;
	font-size: 1.8rem;
    }
}

@media (min-width: 1280px) {
    main {
	width: 60ch;
	margin-top: 3rem;
    }

    header {
	position: fixed;
    }
    
    nav {
	margin: 0;
	text-align: right;
    }

    nav a {
	margin: 0 0 0 1.2rem;	
    }

    footer {
	text-align: right;
    }

    .logo {
	margin: 0;
	text-align: left;
    }

    .logo a {
	float: left;
	font-size: 1.8rem;
    }
}
