---
title: Home
---

<div class="hero">
     <div class="hero-title">
       <div>UOW</div>
       <div>MASSOC</div>
     </div>
</div>

<div class="socials"><a href="https://www.facebook.com/UoWMaSSoc">&#xf082;</a>&nbsp;&nbsp;<a href="https://www.instagram.com/uowmassoc/">&#xf16d;</a>&nbsp;&nbsp;<a href="https://discord.gg/M8uJQk2PnS">&#xf392;</a></div>

<p>Welcome to the Mathematic and Statistics Society!</p>

<p>The University of Wollongong Mathematics and Statistics Society aims to provide a support network for those studying any mathematics and statistics based degrees (or subjects, or anyone who simply has an interest in maths/stats!) at UOW. The UOW Mathematics and Statistics Society acts as a connection for all UOW members to the large and diverse mathematics and statistics community.</p>

<p>Our objectives are to host talks and presentations on interesting mathematical and statistical topics, as well as encourage peer support through study sessions. Throughout the year we host many social events, giving members the opportunity to meet other students and lecturers, creating a great environment to get involved in both the social and academic aspects of mathematics and statistics at UOW. We aim to create a fun and enjoyable learning environment, and encourage help and support among students and academics alike.</p>

<p>Additionally, we offer a tutoring service for students. Please do not hesitate to contact us at any time.</p>

<p>You can sign up to MASSOC <a href="https://clubs.uow.edu.au/mathematics-and-statistics-society/">here.</a></p>

<h2>Events</h2>
$partial("templates/event-list.html")$

<h2>Posts</h2>
$partial("templates/post-list.html")$

<div class="logos">
  <img class="massoc-logo" src="/images/mathstats-120x130.png"></img> 
  <img class="uniclubs-logo" src="/images/Clubs-Website_LogoTop-Scroll-2-Large-crop.png"></img>
</div>
