<h1>$title$</h1>
<article>
  <section class="header">
    Posted on $date$, happening $edate$ at $location$
    $if(author)$
    by $author$
    $endif$
  </section>
  <section>
    $body$
  </section>
</article>
