<span class="r">U</span><span class="ro">O</span><span class="o">W</span> <span class="og">M</span><span class="g">A</span><span class="gb">T</span><span class="b">H</span><span class="bp">S</span><span class="p">O</span><span class="pr">C</span>
